<div class="card">
    <div class="card__image" style="background-image: url('https://s9.limitedrun.com/images/1101066/8BP079_front_1400x1400.jpg')"></div>

    <div class="card__title">
        Interstellar
    </div>

    <div class="card__like">
        <i class="fa fa-heart-o"></i>
    </div>

    <div class="card__subtitle">
        <span>2018-02-11</span>
        <span>8.9 (1922 votes)</span>
    </div>

    <div class="card-info">
        <div class="card-info__header">Summary</div>
        <div class="card-info__description">
            There is no Internet connection

            Try:
            Checking the network cables, modem, and router
            Reconnecting to Wi-Fi
            DNS_PROBE_FINISHED_NO_INTERNET
        </div>
    </div>
</div>
